.about-container {
    align-items: center;
    margin: 50px 0;
    vertical-align: middle;
  }
  .about-img img{
      width: 100%;
  }

  .about-content {
    color: black;
    align-items: center;
    margin-top: 100px;

  }

  .btn-our {
    border: 1px solid gray;
    padding: 6px 10px;
    background: transparent;
    border-radius: 5px;
  }
  .btn-our:hover {
    background-color: gray;
  
    color: white;
  }
  

  /* // Small devices (landscape phones, less than 768px) */
@media (min-width: 0px) and (max-width: 575.98px) {
   
 
}
@media (min-width: 576.98px) and (max-width: 768.98px) {
 
}
@media (min-width: 769.98px) and (max-width: 991.98px) {
  .about-content {
    color: black;
    align-items: center;
    margin-top: 20px;

  }
  .about-container p{
    font-size: 15px;
  }
}
@media (min-width: 992.98px) and (max-width: 1199.98px) {
 
}
@media (min-width: 1200.98px) and (max-width: 1399.98px) {

}
@media (min-width: 1400.98px) and (max-width: 1799.98px) {

  .about-content {
    color: black;
    align-items: center;
    margin-top: 200px;

  }

}